.resposta{
    display: flex;
    height: 100px;
    margin: 10px;
    min-width: 500;
    width: 80%;
    

}
.conteudoResposta{
    position: relative;
    display: flex;
    
    flex: 1;
    
}

.frente{
    position: absolute;
    display: flex;
    height: 100%;
    
}



.frente {
    align-items: center;
    padding: 15px;
    border-radius: 12px;
    height: 100%;
    width: 100%;
    color: black;
    background-color: #fff;
}
.letra{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    font-size: 1.3rem;
    font-weight: 700;
    margin-right: 20px;
    color: #fff;
}
.verso > div{
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    border-radius: 20px;
}
.certa{
    background-color: #2BAA6D;
}
.errada{
    background-color: #E44A4C;
}
.certa .valor, .errada .valor{
    font-size: 1.5rem;
}
.valor{
    font-size: 1.3rem;
    font-weight: 700;
}